* {
	box-sizing: border-box;
}

html, body, ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: "Baskerville";	
}

header {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 10;
}

.header-div {
	display: flex;
	justify-content: flex-end;
	height: 65px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}
ul {
	line-height: 65px;
}

.header-right li {
	display: inline-block;
	padding: 0px 10px;
}
.header-right a {
	color: white;
}

.container {
	padding: 50px;
	text-align: center;
}

.info-wrapper {
	background-image: url("../img/startup-593327_1920.jpg");
	background-size: cover;

}
.myInfo {
	padding-top: 80px;
}

.myInfo img {
	width: 300px;
	height: 350px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.works-wrapper {
	background-color: #eee;
}

.heading h2 {
	padding-bottom :50px;
}
.skill {
	float: left;
	width: 25%;
}
.skill img {
	width: 250px;
	height: 300px;
}
.skill p {
	margin-top: 10px;
}
.skill-text {
	width: 80%;
	font-size: 12px;
	display: inline-block;
	color: gray;
}
.clear {
	clear: both;
}
.contact-wrapper {
	border-bottom: 1px solid #eee;
}
.btn {
	background-color: #229b76;
	border-radius: 4px;
	color: white;
	display: inline-block;
	margin-top: 20px;
	padding: 8px 24px;
	opacity: 0.7;
	box-shadow: 0px 7px #107940;
}
.btn:hover {
	opacity: 1.0;
}
.btn:active {
	box-shadow: none;
	position: relative;
	top: 7px;
}
